In [19]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from scipy.stats import zscore
 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [23]:
#Read in the csv file and convert to a Pandas dataframe
y2015= pd.read_csv("2015.csv") 
y2016= pd.read_csv("2016.csv") 
y2017= pd.read_csv("2017.csv")
y2018= pd.read_csv("2018.csv")
y2019= pd.read_csv("2019.csv")

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [49]:
y2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [37]:
y2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [38]:
y2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [39]:
y2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [40]:
y2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [41]:
y2015.shape , y2016.shape, y2017.shape, y2018.shape, y2019.shape

((158, 12), (157, 13), (155, 12), (156, 9), (156, 9))

In [42]:
# the six factors contributing to happiness is present in the 5 data sets, some have different naming
# rows in all data sets are around the same amount
# year are not present in all data sets, so if we want concat we must add column for the year as we need this to solve the use case

In [44]:
y2015["Year"]= 2015

In [46]:
y2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [52]:
y2016["Year"]= 2016

In [53]:
y2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [54]:
y2017["Year"]= 2017

In [55]:
y2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [56]:
y2018["Year"]= 2018

In [69]:
y2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [58]:
y2019["Year"]= 2019

In [59]:
y2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [62]:
# as you can see same columns have different names
y2015.columns.sort, y2016.columns.sort, y2017.columns.sort,y2018.columns.sort ,y2019.columns.sort

(<bound method Index.sort of Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
        'Standard Error', 'Economy (GDP per Capita)', 'Family',
        'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
        'Generosity', 'Dystopia Residual', 'Year'],
       dtype='object')>,
 <bound method Index.sort of Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
        'Lower Confidence Interval', 'Upper Confidence Interval',
        'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
        'Freedom', 'Trust (Government Corruption)', 'Generosity',
        'Dystopia Residual', 'Year'],
       dtype='object')>,
 <bound method Index.sort of Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
        'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
        'Health..Life.Expectancy.', 'Freedom', 'Generosity',
        'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
       dtype='object')>,
 <bound method Index.sort of Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
        'Social support', 'Healthy life expectancy',
        'Freedom to make life choices', 'Generosity',
        'Perceptions of corruption', 'Year'],
       dtype='object')>,
 <bound method Index.sort of Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
        'Social support', 'Healthy life expectancy',
        'Freedom to make life choices', 'Generosity',
        'Perceptions of corruption', 'Year'],
       dtype='object')>)

In [95]:
# unify colummmns names as a part of consistency
y2015.rename(columns={ "Happiness Rank":"Happiness_rank","Happiness Score": "Happiness_score","Economy (GDP per Capita)": "Economy_GDP","Health (Life Expectancy)": "health_life_expectency","Trust (Government Corruption)":"Trust_in_government","Dystopia Residual": "Dystopia_Residual", "Family":"Family_SocialSupport" }, inplace=True)
y2016.rename(columns={ "Happiness Rank":"Happiness_rank", "Happiness Score": "Happiness_score", "Economy (GDP per Capita)": "Economy_GDP", "Health (Life Expectancy)": "health_life_expectency", "Trust (Government Corruption)":"Trust_in_government", "Dystopia Residual": "Dystopia_Residual" , "Family":"Family_SocialSupport"}, inplace=True)
y2017.rename(columns={ "Happiness.Rank":"Happiness_rank", "Happiness.Score": "Happiness_score", "Economy..GDP.per.Capita.": "Economy_GDP", "Health..Life.Expectancy.": "health_life_expectency", "Trust..Government.Corruption.":"Trust_in_government", "Dystopia.Residual": "Dystopia_Residual" ,"Family":"Family_SocialSupport"}, inplace=True)
y2018.rename(columns={ "Country or region":"Country" , "Overall rank":"Happiness_rank", "Score" : "Happiness_score", "GDP per capita": "Economy_GDP", "Freedom to make life choices":"Freedom", "Healthy life expectancy": "health_life_expectency", "Perceptions of corruption":"Trust_in_government","Social support":"Family_SocialSupport"  }, inplace=True)
y2019.rename(columns={ "Country or region":"Country" , "Overall rank":"Happiness_rank", "Score" : "Happiness_score", "GDP per capita": "Economy_GDP", "Freedom to make life choices":"Freedom", "Healthy life expectancy": "health_life_expectency", "Perceptions of corruption":"Trust_in_government","Social support" :"Family_SocialSupport"  }, inplace=True)

In [96]:
#check columns names
y2015.columns.sort, y2016.columns.sort, y2017.columns.sort,y2018.columns.sort ,y2019.columns.sort

(<bound method Index.sort of Index(['Country', 'Region', 'Happiness_rank', 'Happiness_score',
        'Standard Error', 'Economy_GDP', 'Family_SocialSupport',
        'health_life_expectency', 'Freedom', 'Trust_in_government',
        'Generosity', 'Dystopia_Residual', 'Year'],
       dtype='object')>,
 <bound method Index.sort of Index(['Country', 'Region', 'Happiness_rank', 'Happiness_score',
        'Lower Confidence Interval', 'Upper Confidence Interval', 'Economy_GDP',
        'Family_SocialSupport', 'health_life_expectency', 'Freedom',
        'Trust_in_government', 'Generosity', 'Dystopia_Residual', 'Year'],
       dtype='object')>,
 <bound method Index.sort of Index(['Country', 'Happiness_rank', 'Happiness_score', 'Whisker.high',
        'Whisker.low', 'Economy_GDP', 'Family_SocialSupport',
        'health_life_expectency', 'Freedom', 'Generosity',
        'Trust_in_government', 'Dystopia_Residual', 'Year'],
       dtype='object')>,
 <bound method Index.sort of Index(['Happiness_rank', 'Country', 'Happiness_score', 'Economy_GDP',
        'Family_SocialSupport', 'health_life_expectency', 'Freedom',
        'Generosity', 'Trust_in_government', 'Year'],
       dtype='object')>,
 <bound method Index.sort of Index(['Happiness_rank', 'Country', 'Happiness_score', 'Economy_GDP',
        'Family_SocialSupport', 'health_life_expectency', 'Freedom',
        'Generosity', 'Trust_in_government', 'Year'],
       dtype='object')>)

In [117]:
y2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Happiness_rank          156 non-null    int64
 1   Country                 156 non-null    object
 2   Happiness_score         156 non-null    float64
 3   Economy_GDP             156 non-null    float64
 4   Family_SocialSupport    156 non-null    float64
 5   health_life_expectency  156 non-null    float64
 6   Freedom                 156 non-null    float64
 7   Generosity              156 non-null    float64
 8   Trust_in_government     155 non-null    float64
 9   Year                    156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [98]:
#Now we will concat data sets in one data frame and ignore the index
df_Happiness= pd.concat([y2015,y2016,y2017,y2018,y2019], ignore_index=True)
df_Happiness.sample(50)

,Country,Region,Happiness_rank,Happiness_score,Standard Error,Economy_GDP,Family_SocialSupport,health_life_expectency,Freedom,Trust_in_government,Generosity,Dystopia_Residual,Year,Lower Confidence Interval,Upper Confidence Interval,Whisker.high,Whisker.low
406,Macedonia,NaN,92,5.175,NaN,1.064578,1.207893,0.644948,0.325906,0.060278,0.253761,1.617469,2017,NaN,NaN,5.272173,5.077828
736,Senegal,NaN,111,4.681,NaN,0.450000,1.134000,0.571000,0.292000,0.072000,0.153000,NaN,2019,NaN,NaN,NaN,NaN
271,Cameroon,Sub-Saharan Africa,114,4.513,NaN,0.524970,0.625420,0.126980,0.427360,0.061260,0.226800,2.519800,2016,4.417,4.609,NaN,NaN
456,Botswana,NaN,142,3.766,NaN,1.122094,1.221555,0.341756,0.505196,0.098583,0.099348,0.377914,2017,NaN,NaN,3.874123,3.657877
407,Somalia,NaN,93,5.151,NaN,0.022643,0.721151,0.113989,0.602127,0.282410,0.291631,3.117485,2017,NaN,NaN,5.242484,5.059516
470,Finland,NaN,1,7.632,NaN,1.305000,1.592000,0.874000,0.681000,0.393000,0.202000,NaN,2018,NaN,NaN,NaN,NaN
693,Russia,NaN,68,5.648,NaN,1.183000,1.452000,0.726000,0.334000,0.031000,0.082000,NaN,2019,NaN,NaN,NaN,NaN
722,Bulgaria,NaN,97,5.011,NaN,1.092000,1.513000,0.815000,0.311000,0.004000,0.081000,NaN,2019,NaN,NaN,NaN,NaN
433,Ethiopia,NaN,119,4.460,NaN,0.339234,0.864669,0.353410,0.408843,0.165456,0.312651,2.015744,2017,NaN,NaN,4.542729,4.377271
48,Bahrain,Middle East and Northern Africa,49,5.960,0.05412,1.323760,1.216240,0.747160,0.454920,0.306000,0.173620,1.737970,2015,NaN,NaN,NaN,NaN
79,Azerbaijan,Central and Eastern Europe,80,5.212,0.03363,1.023890,0.937930,0.640450,0.370300,0.160650,0.077990,2.000730,2015,NaN,NaN,NaN,NaN
478,Sweden,NaN,9,7.314,NaN,1.355000,1.501000,0.913000,0.659000,0.383000,0.285000,NaN,2018,NaN,NaN,NaN,NaN
315,Norway,NaN,1,7.537,NaN,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027,2017,NaN,NaN,7.594445,7.479556
741,Armenia,NaN,116,4.559,NaN,0.850000,1.055000,0.815000,0.283000,0.064000,0.095000,NaN,2019,NaN,NaN,NaN,NaN
545,Hong Kong,NaN,76,5.430,NaN,1.405000,1.290000,1.030000,0.524000,0.291000,0.246000,NaN,2018,NaN,NaN,NaN,NaN
86,Serbia,Central and Eastern Europe,87,5.123,0.04864,0.920530,1.009640,0.748360,0.201070,0.026170,0.192310,2.025000,2015,NaN,NaN,NaN,NaN
522,Latvia,NaN,53,5.933,NaN,1.148000,1.454000,0.671000,0.363000,0.066000,0.092000,NaN,2018,NaN,NaN,NaN,NaN
222,Turkmenistan,Central and Eastern Europe,65,5.658,NaN,1.080170,1.038170,0.440060,0.374080,0.284670,0.225670,2.214890,2016,5.580,5.736,NaN,NaN
355,Bahrain,NaN,41,6.087,NaN,1.488412,1.323110,0.653133,0.536747,0.257042,0.172668,1.656149,2017,NaN,NaN,6.178989,5.995011
102,Lebanon,Middle East and Northern Africa,103,4.839,0.04337,1.025640,0.800010,0.839470,0.339160,0.045820,0.218540,1.570590,2015,NaN,NaN,NaN,NaN
412,Kyrgyzstan,NaN,98,5.004,NaN,0.596220,1.394239,0.553458,0.454943,0.039439,0.428580,1.536723,2017,NaN,NaN,5.089920,4.918080
654,Qatar,NaN,29,6.374,NaN,1.684000,1.313000,0.871000,0.555000,0.167000,0.220000,NaN,2019,NaN,NaN,NaN,NaN
432,Gabon,NaN,118,4.465,NaN,1.198210,1.155620,0.356579,0.312329,0.076047,0.043785,1.322916,2017,NaN,NaN,4.557362,4.372639
485,Belgium,NaN,16,6.927,NaN,1.324000,1.483000,0.894000,0.583000,0.240000,0.188000,NaN,2018,NaN,NaN,NaN,NaN
55,Lithuania,Central and Eastern Europe,56,5.833,0.03843,1.147230,1.257450,0.731280,0.213420,0.010310,0.026410,2.446490,2015,NaN,NaN,NaN,NaN
354,Slovakia,NaN,40,6.098,NaN,1.325394,1.505059,0.712733,0.295817,0.024211,0.136544,2.097777,2017,NaN,NaN,6.177348,6.018652
743,Guinea,NaN,118,4.534,NaN,0.380000,0.829000,0.375000,0.332000,0.086000,0.207000,NaN,2019,NaN,NaN,NaN,NaN
306,Tanzania,Sub-Saharan Africa,149,3.666,NaN,0.471550,0.776230,0.357000,0.317600,0.050990,0.314720,1.377690,2016,3.561,3.771,NaN,NaN
679,South Korea,NaN,54,5.895,NaN,1.301000,1.219000,1.036000,0.159000,0.056000,0.175000,NaN,2019,NaN,NaN,NaN,NaN
186,Uruguay,Latin America and Caribbean,29,6.545,NaN,1.181570,1.031430,0.721830,0.543880,0.213940,0.180560,2.671390,2016,6.456,6.634,NaN,NaN
231,Croatia,Central and Eastern Europe,74,5.488,NaN,1.186490,0.608090,0.705240,0.239070,0.040020,0.184340,2.524620,2016,5.402,5.574,NaN,NaN
536,Moldova,NaN,67,5.640,NaN,0.657000,1.301000,0.620000,0.232000,0.000000,0.171000,NaN,2018,NaN,NaN,NaN,NaN
484,Germany,NaN,15,6.965,NaN,1.340000,1.474000,0.861000,0.586000,0.280000,0.273000,NaN,2018,NaN,NaN,NaN,NaN
292,Mali,Sub-Saharan Africa,135,4.073,NaN,0.312920,0.863330,0.163470,0.275440,0.136470,0.210640,2.110870,2016,3.988,4.158,NaN,NaN
100,Swaziland,Sub-Saharan Africa,101,4.867,0.08742,0.712060,1.072840,0.075660,0.306580,0.030600,0.182590,2.486760,2015,NaN,NaN,NaN,NaN
189,France,Western Europe,32,6.478,NaN,1.394880,1.005080,0.837950,0.465620,0.178080,0.121600,2.474400,2016,6.397,6.559,NaN,NaN
127,Botswana,Sub-Saharan Africa,128,4.332,0.04934,0.993550,1.104640,0.047760,0.494950,0.124740,0.104610,1.461810,2015,NaN,NaN,NaN,NaN
313,Syria,Middle East and Northern Africa,156,3.069,NaN,0.747190,0.148660,0.629940,0.069120,0.172330,0.483970,0.817890,2016,2.936,3.202,NaN,NaN
628,Norway,NaN,3,7.554,NaN,1.488000,1.582000,1.028000,0.603000,0.341000,0.271000,NaN,2019,NaN,NaN,NaN,NaN
39,Suriname,Latin America and Caribbean,40,6.269,0.09811,0.995340,0.972000,0.608200,0.596570,0.136330,0.169910,2.790940,2015,NaN,NaN,NaN,NaN
395,Indonesia,NaN,81,5.262,NaN,0.995539,1.274445,0.492346,0.443323,0.015317,0.611705,1.429477,2017,NaN,NaN,5.352889,5.171112
505,Spain,NaN,36,6.310,NaN,1.251000,1.538000,0.965000,0.449000,0.074000,0.142000,NaN,2018,NaN,NaN,NaN,NaN
221,Peru,Latin America and Caribbean,64,5.743,NaN,0.996020,0.812550,0.629940,0.375020,0.052920,0.145270,2.731170,2016,5.647,5.839,NaN,NaN
141,Senegal,Sub-Saharan Africa,142,3.904,0.03608,0.364980,0.976190,0.435400,0.367720,0.107130,0.208430,1.443950,2015,NaN,NaN,NaN,NaN
318,Switzerland,NaN,4,7.494,NaN,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,NaN,7.561772,7.426227
655,Spain,NaN,30,6.354,NaN,1.286000,1.484000,1.062000,0.362000,0.079000,0.153000,NaN,2019,NaN,NaN,NaN,NaN
257,Tajikistan,Central and Eastern Europe,100,4.996,NaN,0.488350,0.756020,0.531190,0.434080,0.135090,0.259980,2.391060,2016,4.923,5.069,NaN,NaN
23,Singapore,Southeastern Asia,24,6.798,0.03780,1.521860,1.020000,1.025250,0.542520,0.492100,0.311050,1.885010,2015,NaN,NaN,NaN,NaN
622,Tanzania,NaN,153,3.303,NaN,0.455000,0.991000,0.381000,0.481000,0.097000,0.270000,NaN,2018,NaN,NaN,NaN,NaN
203,El Salvador,Latin America and Caribbean,46,6.068,NaN,0.873700,0.809750,0.596000,0.372690,0.106130,0.088770,3.221340,2016,5.967,6.169,NaN,NaN

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

In [99]:
df_Happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    782 non-null    object
 1   Region                     315 non-null    object
 2   Happiness_rank             782 non-null    int64
 3   Happiness_score            782 non-null    float64
 4   Standard Error             158 non-null    float64
 5   Economy_GDP                782 non-null    float64
 6   Family_SocialSupport       782 non-null    float64
 7   health_life_expectency     782 non-null    float64
 8   Freedom                    782 non-null    float64
 9   Trust_in_government        781 non-null    float64
 10  Generosity                 782 non-null    float64
 11  Dystopia_Residual          470 non-null    float64
 12  Year                       782 non-null    int64
 13  Lower Confidence Interval  157 non-null    float64
 14  Upper Confidence Interval  157 non-null    float64
 15  Whisker.high               155 non-null    float64
 16  Whisker.low                155 non-null    float64
dtypes: float64(13), int64(2), object(2)
memory usage: 104.0+ KB

In [116]:
#as the six factors is important for the analysis I want to make sure which year the null value in Trust_in_government 
slack= df_Happiness[df_Happiness["Trust_in_government"].isnull()]
group_by_year= slack.groupby('Year')
group_by_year.size()

Year
2018    1
dtype: int64

In [110]:
df_Happiness.shape

(782, 17)

In [112]:
df_Happiness.describe()

,Happiness_rank,Happiness_score,Standard Error,Economy_GDP,Family_SocialSupport,health_life_expectency,Freedom,Trust_in_government,Generosity,Dystopia_Residual,Year,Lower Confidence Interval,Upper Confidence Interval,Whisker.high,Whisker.low
count,782.000000,782.000000,158.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000,470.000000,782.000000,157.000000,157.000000,155.000000,155.000000
mean,78.698210,5.379018,0.047885,0.916047,1.078392,0.612416,0.411091,0.125436,0.218576,2.092717,2016.993606,5.282395,5.481975,5.452326,5.255713
std,45.182384,1.127456,0.017146,0.407340,0.329548,0.248309,0.152880,0.105816,0.122321,0.565772,1.417364,1.148043,1.136493,1.118542,1.145030
min,1.000000,2.693000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,2015.000000,2.732000,3.078000,2.864884,2.521116
25%,40.000000,4.509750,0.037268,0.606500,0.869363,0.440183,0.309768,0.054000,0.130000,1.737975,2016.000000,4.327000,4.465000,4.608172,4.374955
50%,79.000000,5.322000,0.043940,0.982205,1.124735,0.647310,0.431000,0.091000,0.201982,2.094640,2017.000000,5.237000,5.419000,5.370032,5.193152
75%,118.000000,6.189500,0.052300,1.236187,1.327250,0.808000,0.531000,0.156030,0.278832,2.455575,2018.000000,6.154000,6.434000,6.194600,6.006527
max,158.000000,7.769000,0.136930,2.096000,1.644000,1.141000,0.724000,0.551910,0.838075,3.837720,2019.000000,7.460000,7.669000,7.622030,7.479556

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

In [118]:
# data from the Gallup World Poll
#The Gallup World Poll covers more than 160 countries, representing over 98% of the world's population. 
#It uses scientific sampling methods to ensure that the survey data is representative of the national population. So its trustworthy to analyze

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

In [ ]:
#its acceptable for analysis

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

In [160]:
#as I concat different data soureces in one data frame I modified columns names to be consistent 
df_Happiness.info()
#You can see every column have specific type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 782 non-null    object
 1   Region                  315 non-null    object
 2   Happiness_rank          782 non-null    int64
 3   Happiness_score         782 non-null    float64
 4   Economy_GDP             782 non-null    float64
 5   Family_SocialSupport    782 non-null    float64
 6   health_life_expectency  782 non-null    float64
 7   Freedom                 782 non-null    float64
 8   Trust_in_government     781 non-null    float64
 9   Generosity              782 non-null    float64
 10  Year                    782 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 67.3+ KB

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [119]:
df_Happiness.head(10)

,Country,Region,Happiness_rank,Happiness_score,Standard Error,Economy_GDP,Family_SocialSupport,health_life_expectency,Freedom,Trust_in_government,Generosity,Dystopia_Residual,Year,Lower Confidence Interval,Upper Confidence Interval,Whisker.high,Whisker.low
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,NaN
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,2015,NaN,NaN,NaN,NaN
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,2015,NaN,NaN,NaN,NaN
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,2015,NaN,NaN,NaN,NaN
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,2015,NaN,NaN,NaN,NaN
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,2015,NaN,NaN,NaN,NaN

In [122]:
df_Happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    782 non-null    object
 1   Region                     315 non-null    object
 2   Happiness_rank             782 non-null    int64
 3   Happiness_score            782 non-null    float64
 4   Standard Error             158 non-null    float64
 5   Economy_GDP                782 non-null    float64
 6   Family_SocialSupport       782 non-null    float64
 7   health_life_expectency     782 non-null    float64
 8   Freedom                    782 non-null    float64
 9   Trust_in_government        781 non-null    float64
 10  Generosity                 782 non-null    float64
 11  Dystopia_Residual          470 non-null    float64
 12  Year                       782 non-null    int64
 13  Lower Confidence Interval  157 non-null    float64
 14  Upper Confidence Interval  157 non-null    float64
 15  Whisker.high               155 non-null    float64
 16  Whisker.low                155 non-null    float64
dtypes: float64(13), int64(2), object(2)
memory usage: 104.0+ KB

In [143]:

slack= df_Happiness[df_Happiness["Standard Error"].isnull()]
group_by_year= slack.groupby('Year')
group_by_year.size()
#after running the above code missing values are in all years except 2015 
# as the usecase is not focusing on the result of this column and its not one of the sex factor . will drop this column

Year
2016    157
2017    155
2018    156
2019    156
dtype: int64

In [147]:
df_Happiness.drop(["Standard Error"], axis=1,inplace=True)
# i run the cell again and because its already runned the column is not there thats why it shows error

KeyError: "['Standard Error'] not found in axis"

In [148]:
df_Happiness.columns

Index(['Country', 'Region', 'Happiness_rank', 'Happiness_score', 'Economy_GDP',
       'Family_SocialSupport', 'health_life_expectency', 'Freedom',
       'Trust_in_government', 'Generosity', 'Dystopia_Residual', 'Year',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Whisker.high', 'Whisker.low'],
      dtype='object')

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

In [153]:
df_Happiness.duplicated().sum()
# as I run this cell there is no duplicated records, and i already

0

In [16]:
# go to delete duplicates columns

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [163]:
#Display number missing values per column
df_Happiness.isnull().sum().sort_values(ascending = False)

#this result after i drop columns: Dystopia_Residual, Lower Confidence Interval, Upper Confidence Interval, Whisker.high, Whisker.low

Region                    467
Trust_in_government         1
Country                     0
Happiness_rank              0
Happiness_score             0
Economy_GDP                 0
Family_SocialSupport        0
health_life_expectency      0
Freedom                     0
Generosity                  0
Year                        0
dtype: int64

In [154]:
#we will drop columns with nulls after checking that it will not effect our analysis, and these columns are not one of the six factors 
# which are: Dystopia_Residual, Lower Confidence Interval, Upper Confidence Interval, Whisker.high, Whisker.low
# the reason is these columns are present in just one or two data sets before we concat these data sets.
slack= df_Happiness[df_Happiness["Whisker.high"].isnull()]
group_by_year= slack.groupby('Year')
group_by_year.size()
# this code shows that Whisker.high column have  null in all years except in 2015 because this column exist just in 2015 data set.

Year
2015    158
2016    157
2018    156
2019    156
dtype: int64

In [157]:
# go to clean them 
df_Happiness.drop(["Dystopia_Residual","Lower Confidence Interval", "Upper Confidence Interval", "Whisker.high", "Whisker.low"], axis=1, inplace=True)

In [158]:
df_Happiness.head()

,Country,Region,Happiness_rank,Happiness_score,Economy_GDP,Family_SocialSupport,health_life_expectency,Freedom,Trust_in_government,Generosity,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [164]:
df_Happiness.isnull().sum().sort_values(ascending = False)
#region have 467 missing value

Region                    467
Trust_in_government         1
Country                     0
Happiness_rank              0
Happiness_score             0
Economy_GDP                 0
Family_SocialSupport        0
health_life_expectency      0
Freedom                     0
Generosity                  0
Year                        0
dtype: int64

In [165]:
slack2= df_Happiness[df_Happiness["Region"].isnull()]
group_by_year= slack2.groupby('Year')
group_by_year.size()
#I will keep region column incase I need it for country ranks or scores change between the 2015 and 2016

Year
2017    155
2018    156
2019    156
dtype: int64

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [19]:
# check columns types

In [20]:
# go to clean them

In [21]:
# check outliers

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [22]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [23]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [24]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [25]:
# go back to 6th dimention --> Completeness

### Correcting errors

-------------------

In [26]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.